<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/output.css">
</head>
<body class="">
    <nav class=" max-w-screen h-20 flex justify-between items-center bg-blue-200 text-slate-800 px-5">
        <h1 class=" text-3xl font-bold">Welcome</h1>
        <div class=" w-full flex justify-end items-center">
            <a href="/search-post" class=" mx-10">Search Post</a>
            <a href="/create-post?user_email=<%= email %>" class=" mx-10">Create Post</a>
            <a href="/search" class=" mx-10">Delete Post</a>
            <a href="/search" class=" mx-10">Update Post</a>
            <a href="/delete-account-page" class=" mx-10">Delete Account</a>
        </div>
    </nav>
    <div class=" w-full h-fit grid grid-cols-3 gap-4 py-4 px-4">
        <h1 class=" text-3xl font-bold col-span-3 w-full h-fit text-center ">Your Posts</h1>
        <% posts.forEach(element => { %>
            <div class=" flex flex-col justify-start items-center w-full h-fit p-2 border-2 border-blue-200 rounded">
                <p class=" w-full text-3xl font-medium text-center">Post Name: <%- element.postTitle %></p>
                <p class=" w-full text-2xl font-medium">Post Type: <%- element.postType %></p>
                <p class=" w-full text-2xl font-medium">Post Content: <%- element.postContent %></p>
                <form action="/delete-post" method="POST" class="p-0 m-0 w-full">
                    <input type="hidden" name="postId" value="<%- element._id %>">
                    <input type="hidden" name="userId" value="<%- element.postAuthor %>"/>
                    <input type="hidden" name="userEmail" value="<%= email %>"/>
                <button class=" w-full px-5 py-2 bg-blue-400 rounded-lg mt-0 text-slate-300 border-2 border-blue-800 font-semibold hover:bg-blue-600 transition-colors ease-in-out duration-200 hover:text-slate-100">delete</button>
                </form>
            </div>
        <% }) %>

    </div>
</body>
</html>